:host {
    border-bottom: 1px solid black;
    border-bottom-left-radius: 2px;
}

.mailbox-button {
    margin: 5px;
    padding: 10px;
    background: white;
    border: 1px solid black;
    border-radius: 2px;
    transition: background .25s;
    width: 130px;
    display: block;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
}

.mailbox-button:hover {
    background: rgba(225, 225, 225, 0.5);
}

.mailbox-button:disabled,
.mailbox-button:disabled:hover{
    border: 1px solid #afafaf;
    color: #afafaf;
    background: white;
}

.mailbox-button.is-active {
    color: dodgerblue;
}
